.btn {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    font-family:'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    cursor: pointer;
    color:$light;
    background-color: transparent;
    border: 1px solid $light;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.btn {
    &:hover,
    &:focus,
    &:active {
        background-color: $light;
        color:#fff;
    }

    &_small {
        padding: 10px;
        font-size: 14px;
    }  

    &_with-icon
        span {
          position: relative;
      
          &::before {
                content:'';
                position: absolute;
                top: 50%;
                left:0;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
        }
    

    &_chat-icon {
        span {
            padding-left: 30px;
            text-transform: uppercase;
            
            &::before {
              background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4620_33170)'%3E%3Cpath d='M14.064 11.3323C15.5135 9.29855 15.2919 6.51228 13.3121 4.6973C12.4075 3.86806 11.2543 3.35182 10.0086 3.20765C10.0008 3.1981 9.99287 3.18863 9.98417 3.17958C8.90045 2.05385 7.3435 1.4082 5.71254 1.4082C2.60886 1.4082 0 3.72069 0 6.68164C0 7.71978 0.322471 8.71496 0.935039 9.57444L0.0793066 12.2611C0.0255176 12.43 0.0784277 12.6146 0.213457 12.7294C0.348721 12.8443 0.539531 12.8664 0.697178 12.7862L3.29953 11.463C3.83396 11.6931 4.40068 11.8441 4.98756 11.9128C6.11965 13.1033 7.68501 13.7129 9.28652 13.7129C10.119 13.7129 10.9485 13.5432 11.6994 13.2208L14.3019 14.5441C14.3649 14.5761 14.4331 14.5918 14.501 14.5918C14.7975 14.5918 15.0101 14.3028 14.9198 14.019L14.064 11.3323ZM3.47689 10.5787C3.35382 10.5203 3.21064 10.5222 3.08921 10.584L1.23568 11.5265L1.84096 9.62609C1.88502 9.48772 1.85792 9.33655 1.76851 9.22215C1.18649 8.47713 0.878848 7.59866 0.878848 6.68164C0.878848 4.2585 3.04723 2.28711 5.71254 2.28711C6.78586 2.28711 7.81913 2.61228 8.65729 3.19783C5.83459 3.48166 3.57398 5.68637 3.57398 8.43945C3.57398 9.29574 3.79348 10.1201 4.20729 10.8587C3.95675 10.7841 3.71273 10.6907 3.47689 10.5787V10.5787ZM11.9099 12.3418C11.7902 12.2809 11.6469 12.2773 11.5222 12.3366C10.8371 12.662 10.064 12.834 9.28652 12.834C6.62121 12.834 4.45283 10.8626 4.45283 8.43945C4.45283 6.01631 6.62121 4.04492 9.28652 4.04492C11.9518 4.04492 14.1202 6.01631 14.1202 8.43945C14.1202 9.35647 13.8126 10.2349 13.2305 10.9799C13.1411 11.0943 13.114 11.2455 13.1581 11.3839L13.7633 13.2842L11.9099 12.3418Z' fill='%231799E5'/%3E%3Cpath d='M7.49951 8.87891C7.74222 8.87891 7.93897 8.68216 7.93897 8.43945C7.93897 8.19675 7.74222 8 7.49951 8C7.25681 8 7.06006 8.19675 7.06006 8.43945C7.06006 8.68216 7.25681 8.87891 7.49951 8.87891Z' fill='%231799E5'/%3E%3Cpath d='M9.25726 8.87891C9.49997 8.87891 9.69672 8.68216 9.69672 8.43945C9.69672 8.19675 9.49997 8 9.25726 8C9.01456 8 8.81781 8.19675 8.81781 8.43945C8.81781 8.68216 9.01456 8.87891 9.25726 8.87891Z' fill='%231799E5'/%3E%3Cpath d='M11.015 8.87891C11.2577 8.87891 11.4544 8.68216 11.4544 8.43945C11.4544 8.19675 11.2577 8 11.015 8C10.7723 8 10.5755 8.19675 10.5755 8.43945C10.5755 8.68216 10.7723 8.87891 11.015 8.87891Z' fill='%231799E5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4620_33170'%3E%3Crect width='15' height='15' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }
        }
    }

    &_chat-icon {
        &:hover,
        &:focus,
        &:active {
            span::before {
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4620_33170)'%3E%3Cpath d='M14.064 11.3323C15.5135 9.29855 15.2919 6.51228 13.3121 4.6973C12.4075 3.86806 11.2543 3.35182 10.0086 3.20765C10.0008 3.1981 9.99287 3.18863 9.98417 3.17958C8.90045 2.05385 7.3435 1.4082 5.71254 1.4082C2.60886 1.4082 0 3.72069 0 6.68164C0 7.71978 0.322471 8.71496 0.935039 9.57444L0.0793066 12.2611C0.0255176 12.43 0.0784277 12.6146 0.213457 12.7294C0.348721 12.8443 0.539531 12.8664 0.697178 12.7862L3.29953 11.463C3.83396 11.6931 4.40068 11.8441 4.98756 11.9128C6.11965 13.1033 7.68501 13.7129 9.28652 13.7129C10.119 13.7129 10.9485 13.5432 11.6994 13.2208L14.3019 14.5441C14.3649 14.5761 14.4331 14.5918 14.501 14.5918C14.7975 14.5918 15.0101 14.3028 14.9198 14.019L14.064 11.3323ZM3.47689 10.5787C3.35382 10.5203 3.21064 10.5222 3.08921 10.584L1.23568 11.5265L1.84096 9.62609C1.88502 9.48772 1.85792 9.33655 1.76851 9.22215C1.18649 8.47713 0.878848 7.59866 0.878848 6.68164C0.878848 4.2585 3.04723 2.28711 5.71254 2.28711C6.78586 2.28711 7.81913 2.61228 8.65729 3.19783C5.83459 3.48166 3.57398 5.68637 3.57398 8.43945C3.57398 9.29574 3.79348 10.1201 4.20729 10.8587C3.95675 10.7841 3.71273 10.6907 3.47689 10.5787V10.5787ZM11.9099 12.3418C11.7902 12.2809 11.6469 12.2773 11.5222 12.3366C10.8371 12.662 10.064 12.834 9.28652 12.834C6.62121 12.834 4.45283 10.8626 4.45283 8.43945C4.45283 6.01631 6.62121 4.04492 9.28652 4.04492C11.9518 4.04492 14.1202 6.01631 14.1202 8.43945C14.1202 9.35647 13.8126 10.2349 13.2305 10.9799C13.1411 11.0943 13.114 11.2455 13.1581 11.3839L13.7633 13.2842L11.9099 12.3418Z' fill='white'/%3E%3Cpath d='M7.49951 8.87891C7.74222 8.87891 7.93897 8.68216 7.93897 8.43945C7.93897 8.19675 7.74222 8 7.49951 8C7.25681 8 7.06006 8.19675 7.06006 8.43945C7.06006 8.68216 7.25681 8.87891 7.49951 8.87891Z' fill='%231799E5'/%3E%3Cpath d='M9.25726 8.87891C9.49997 8.87891 9.69672 8.68216 9.69672 8.43945C9.69672 8.19675 9.49997 8 9.25726 8C9.01456 8 8.81781 8.19675 8.81781 8.43945C8.81781 8.68216 9.01456 8.87891 9.25726 8.87891Z' fill='white'/%3E%3Cpath d='M11.015 8.87891C11.2577 8.87891 11.4544 8.68216 11.4544 8.43945C11.4544 8.19675 11.2577 8 11.015 8C10.7723 8 10.5755 8.19675 10.5755 8.43945C10.5755 8.68216 10.7723 8.87891 11.015 8.87891Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4620_33170'%3E%3Crect width='15' height='15' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }
        }
    }
}