@media (max-width:1265px){
    .examples__carousel{
       max-width: 700px;
    }
   
   .faq__wrap{
           padding:0 24px;
       }
   
}

@media (max-width:1100px){
   .faq__questions-item{
           width:445px;
       }
  
}

@media (max-width:900px){
       .faq__questions-item{
           width:345px;
       }
   }

@media (max-width:820px){
       .control{
           &__svg{
           display: none;
          }
          &__btn{
         background-color: #fff;
          border-radius: 50%;
          box-shadow: 0 0 6px 0 rgba(0, 34, 55, 0.2);
          width: 64px;
          height: 64px;
          top:45%;
       }
       &__next{
           right: -32px;
       }
       &__prev{
           left: -32px;
       }
       &__next::after{
           content:'';
           position:absolute;
           background-image: url('/images/next_arrow.svg');
           background-position: 50% 50%;
           background-repeat: no-repeat;
           top:35%;
           left:10px;
           width: 24px;
           height:24px;
       }
       &__prev::after{
           content:'';
           position:absolute;
           background-image: url('/images/prev_arrow.svg');
           background-position: 50% 50%;
           background-repeat: no-repeat;
           top:35%;
           right:10px;
           width: 24px;
           height:24px;
       }
   }
   
  
   }  
@media (max-width:800px){
       .examples__wrap{
           padding:0 35px;
           }
       .container{
           padding:60px 0 40px;
       }
   }

@media (max-width:780px){
       
       .examples__slider-card{
           width:100%;
       }
       .examples__wrap{
           width:96vw;
           padding:0 30px;
       }
   } 

@media (max-width:768px){
   .examples__title{
       font-size: 25px;
       line-height: 30px;
       padding:0 20px 40px;
   }
   .examples__carousel{
       max-width: 706px;
    }
   
   .faq{ &__content {
       flex-direction: column-reverse;
   }
   &__questions{
       padding:0 0 30px;
   }
   &__questions-item {
       width:100%;

   }
   &__contacts{
       margin: 0 auto;
       padding: 0;
       text-align: center;
   }
   &__box{
       align-items: center;
   }
  }

}

@media (max-width:625px){ 
   .control__btn{
   top:47%;
  }
  .container{
   padding: 40px 0;
  }
}
  @media (max-width:450px){
   .examples__wrap{
       padding:0 5px;
   }
   .examples__slider-item{
       padding: 0 10px;
   }
 .faq {
   &__title{
       font-size: 25px;
       line-height: 30px;
    }
    &__wrap{
       padding:0 15px;
   }
   &__box-btn{
     width: 100%;
   }
   &__btn{
       width: 100%;
   }
  }
  }

@media (max-width:335px){
   .examples__slider-title{
       font-size: 18px;
      }
   }