%title-font{
    font-family:'Catamaran', sans-serif;
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
}
$dark:#00466F;
$light:#1799E5;
$background:#E6F2FF;


%active-btn{
    background-color: #1799E5;
    color:#fff;
}
